name: "NixOS rebuild Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: build test
    - run: nix --experimental-features 'nix-command flakes' nix flake update
    - run: nix-shell --run "echo OK"
